<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LMS</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <description /> 
  <display-name>LMSController</display-name> 
  <servlet-name>LMSController</servlet-name> 
  <servlet-class>com.lms.controller.LMSController</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>LMSController</servlet-name> 
  <url-pattern>/Login</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>LMSController</servlet-name> 
  <url-pattern>/AddBook</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>LMSController</servlet-name> 
  <url-pattern>/AddMagazine</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>LMSController</servlet-name> 
  <url-pattern>/AddCD</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>LMSController</servlet-name> 
  <url-pattern>/DeleteBookById</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>LMSController</servlet-name> 
  <url-pattern>/DeleteMagazineById</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LMSController</servlet-name> 
  	<url-pattern>/DeleteCDById</url-pattern> 
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>LMSController</servlet-name> 
    <url-pattern>/SearchBookById</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LMSController</servlet-name> 
    <url-pattern>/UpdateBookByID</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LMSController</servlet-name> 
    <url-pattern>/SearchCDById</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LMSController</servlet-name> 
    <url-pattern>/UpdateCDByID</url-pattern> 
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>LMSController</servlet-name> 
    <url-pattern>/SearchMagazineById</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LMSController</servlet-name> 
    <url-pattern>/UpdateMagazineByID</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LMSController</servlet-name> 
    <url-pattern>/ViewMagazineById</url-pattern> 
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>LMSController</servlet-name> 
    <url-pattern>/ViewBookById</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LMSController</servlet-name> 
    <url-pattern>/ViewCDById</url-pattern> 
  </servlet-mapping>
</web-app>